$input-data-error: #D20F36;
$background-color: black;

$blue-dark-color: #002147;

$help-icon-color: hsla(0,0%,100%,.8);

$hover-icon-color: #ffab00;
$focus-icon-color: #e65100;


$play-button-color: #ff6d00;
$play-button-hover-color: orange;

$orange-color: orange;
$white-color: white;